$black: #3D3430;
$black2nd: #5F5450;
$white: #fff;
$blue: #7258F7;
$blue2: #E2DDFB;
$foot: #19153D;
$liteyell: #FEF8E4;
$fontopen: 'Open Sans', sans-serif;
$fontluman:'Lumanosimo', cursive;
$fontnunito: 'Nunito', sans-serif;